/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  /* border: 1px solid #555; */
  -webkit-text-fill-color: #555;
  -webkit-box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}